<div class= "span4 offset4 ice-box text-center">

	<h1 class = "awesome-sauce">
		Unforgettevent
	</h1>

	<h2>
		The Pinterest of Travel
	</h2>

	<br/>

	<%= link_to 'Launch', '#', :class => 'btn btn-info btn-large' %>

</div>