<div class= "span4 offset4 ice-box text-center">

	<h1 class = "awesome-sauce">
		Unforgett-event
	</h1>

	<h2>
		It's Travel.  With A Twist.
	</h2>

	<br/>

	<%= link_to 'Launch', '#', :class => 'btn btn-info btn-large' %>

</div>