<div class= "span4 offset4 ice-box text-center">

	<h1 class = "awesome-sauce">
		Unforgett-event
	</h1>

	<h2>
		<b>The</b> Pinterest of Travel.
	</h2>

	<br/>

<%=  link_to 'Let\'s Go!', new_pic_path, 
      :class =>'btn btn-primary btn-large' %>

</div>