<div class= "span4 offset4 ice-box text-center">

	<h1 class = "awesome-sauce">
		Eventful
	</h1>

	<h2>
		What are you interested in?
	</h2>

	<br/>
<form class="form-search">
<input type="text" class="input-medium search-query">

</form><%= button_to "Let\'s Go!", pics_path, :class => "btn btn-info", :method => :get  %>




</div>