<div class= "span4 offset4 ice-box text-center">

	<h1 class = "awesome-sauce">
	The New Way to Experience Travel.<br> 
	</h1>

	<h2>
		 <br/>Don't believe us?
	</h2>

	<br/>
<%= button_to "Let\'s Get Started!", static_pages_next_path, :class => "btn btn-info", :method => :get  %>




</div>
