<div class= "span4 offset4 ice-box text-center">

	<h1 class = "awesome-sauce">
		Unforgett-event
	</h1>

	<h2>
		It's Travel.  With A Twist.
	</h2>

	<br/>

 	<form class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn btn-primary">Start Traveling!</button>
</form>


</div>