	<% @pics.each do |pic| %>
	<div class="ice-box span3 text-center"
	>
	<h1>
	<u>
		<%= pic.title %>
	</u>
	</h1>

	<h4>
		<%= pic.message %>
	</h4>

	<h4>
		<%= pic.who %>
	</h4>

	<%= image_tag pic.image %>

	</div>
	<% end %>