<div class= "span4 offset4 ice-box text-center">

	<h1 class = "awesome-sauce">
	Go Beyond Travel.<br> 
	</h1>

	<h2>
		 <br/>Experience.
	</h2>

	<br/>
<%= button_to "Get Eventful!", eventful_next_path, :class => "btn btn-info", :method => :get  %>




</div>
